p.text:not(:empty){
  color: grey;
}

p.text:empty::after{
  content: attr(title);
}

#some_id::before{
  content: '123';
  color: red;
  text-decoration: line-through;
}

p.main_link::first-line{
  color: green;
}

p:last-of-type {
  text-decoration: line-through;
}

.main_link {
  color: red;
  text-decoration: none;
}

.main_link:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

.main_link:active {
  text-decoration: line-through;
}

.main_link:visited {
  color: grey;
}

input:required {}
input{color: blue}
input:focus {color: red}
