@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(9, 17, 62);
    height: 70px;
    display: flex;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 1000;
   text-align: center;
}


.logo {
    height: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Добавляем это свойство */
    width: 100%;
    margin-right: 40px;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    height: 100%;
    font-size: 20px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(170 166 195 / var(--tw-text-opacity));
}

.navigation ul li:hover {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: white;
}

main {
    height: 4000px;
    background-color: black;
    background-image: url(./bg.jpg);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    position: relative;
    top: 70px;

}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: right;
    position: relative;
    top: 100px;
    justify-content: center;
}

.main-associations {
    display: inline-block;

}

.panda {
    height: 500px;
    width: auto;

}

.nickname {
    font-family: 'Monofett', monospace;
    text-align: center;
    font-size: 76px;
    color: #ffffff;
}

.text-container {
    margin-left: 220px;
}



.text-line {
    width: 6px;
    height: 600px;
    background-color: purple;
    margin-left: -30px;
    margin-bottom: -600px;
}

.greetings {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 1000;
}

.job-title {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    float: left;
    margin-top: 20px;

}

.about-me model-viewer {
    height: 700px;
    width: 700px;

    margin-left: 300px;
}

.text-container .info-about-me {

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    max-width: 300px;
    text-align: left;
    margin-top: 20px;
}



.skills {
    text-align: center;
    margin-top: 600px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}

.skills.show {
    opacity: 1;
    transform: translateY(0);
}



.main-hr  {
    height: 4px;
    background-color: purple;
    border: none;

}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;

}

.card {
    margin: 20px;

    cursor: pointer;
    width: 300px;
    height: 300px;
    perspective: 600px;
    position: relative;
}

.front,
.back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .3s linear;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    /* Добавьте это свойство */
}

.front img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

}

.front {
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(47, 47, 47);
    transform-origin: center;
    z-index: 1;
    transform: rotateY(180deg) translateZ(-1px);
    /* Используйте translateZ для .back */
}

.back-content {
    color: #ffffff;
}

.back-content span {
    display: block;
    font-size: 20px;
}


.card:hover>.front {
    transform: rotateY(-180deg) translateZ(1px);
}

.card:hover>.back {
    transform: rotateY(0deg) translateZ(0);
}


.work-experience { 
   margin-top: 300px;
}

.post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.post-item {
    padding: 15px;
    cursor: pointer;
   
}

.post-item * {
    transition: .3s linear;
}

.item-content {
    border-radius: 8px;
    background: #3b3941;
    padding: 40px;
}


.item-body {
    color: #ffffff;
    font-size: 14px;
}

.item-body h3 {
    font-weight: 500;
    margin-bottom: 15px;
    transition-delay: .05s;
}

.item-body p {
    transition-delay: .1s;
}

.item-footer {
    padding-top: 15px;
}

.link {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: .125rem;
    margin: auto;
    background: purple;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}

.link span {
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}

.post-item:hover .link span {
    transform: translateX(0%);
}

.post-item:hover .link:before {
    transform-origin: right center;
}

@media (min-width: 768px) {
    .post-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

@media (min-width: 960px) {
    .post-item {
        flex-basis: 33.333333333%;
    }
}