@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(9, 17, 62);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 100%;
}

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    height: 100%;
    font-size: 20px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(170 166 195 / var(--tw-text-opacity));
}

.navigation ul li:hover {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: white;
}

main {
    height: 4000px;
    background-color: black;
    background-image: url(./bg.jpg);
    background-size: 100% 1000px;
    background-repeat: no-repeat;


}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.text-container {
    align-items: center;
    margin-right: 500px;
    margin-top: 60px;
    margin-bottom: -30px;
}

.text-line {
    width: 6px;
    height: 600px;
    background-color: purple;
    margin-left: -30px;
    margin-bottom: -600px;
}

.greetings{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 1000;
}

.job-title {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    float: left
}

.about-me model-viewer {
    height: 500px;
    width: 500px;
}





.skills {
    text-align: center;
    margin-top: 600px;
    opacity: 0; /* Начальная непрозрачность текста */
    transform: translateY(20px); /* Начальное смещение текста вниз */
    transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out; /* Анимация для плавного появления */
}

.skills.show {
    opacity: 1; /* Задаем полную прозрачность при появлении */
    transform: translateY(0); /* Возвращаем текст в исходное положение */
}



.skills hr {
    height: 4px;
    background-color: purple;
    border: none;

}

.skills .title { 
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 1000;
}