@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(9, 17, 62);
    height: auto;
    display: flex;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 5;

}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 1000;
    text-align: center;
}


.logo {
    height: 70px;
    width: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 40px;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    height: 100%;
    font-size: 20px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(170 166 195 / var(--tw-text-opacity));
}

.navigation ul li:hover {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: white;
}

main {
    background-color: black;
    background-image: url(./bg.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    /* Додав padding-bottom для відступу внизу */
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: right;
    position: relative;
    top: 200px;
    justify-content: center;

}

.main-associations {
    display: inline-block;

}

.panda {
    height: 500px;
    width: auto;

}

.nickname {
    font-family: 'Monofett', monospace;
    text-align: center;
    font-size: 76px;
    color: #ffffff;
}

.text-container {
    margin-left: 220px;
}



.text-line {
    width: 6px;
    height: 600px;
    background-color: purple;
    margin-left: -30px;
    margin-bottom: -600px;
}

.greetings {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 1000;
}

.job-title {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    float: left;
    margin-top: 20px;

}

.text-container .info-about-me {

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    max-width: 300px;
    text-align: left;
    margin-top: 20px;
}



.skills {
    text-align: center;
    margin-top: 600px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}

.skills.show {
    opacity: 1;
    transform: translateY(0);
}



.main-hr {
    height: 4px;
    background-color: purple;
    border: none;

}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;

}

.card {
    cursor: pointer;
    width: 300px;
    height: 300px;
    perspective: 600px;
    position: relative;
}

.front,
.back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .3s linear;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    /* Добавьте это свойство */
}

.front img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

}

.front {
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(47, 47, 47);
    transform-origin: center;
    z-index: 1;
    transform: rotateY(180deg) translateZ(-1px);

}

.back-content {
    color: #ffffff;
}

.back-content span {
    display: block;
    font-size: 20px;
}


.card:hover>.front {
    transform: rotateY(-180deg) translateZ(1px);
}

.card:hover>.back {
    transform: rotateY(0deg) translateZ(0);
}




.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.work-experience,
.courses {
    margin-top: 300px;
    width: 45%;

}


.post-item {
    cursor: pointer;

    border-radius: 8px;
    transition: 0.2s all ease-in;
    height: 600px;
}



.post-item * {
    transition: .3s linear;
    text-decoration: none;

}

.item-content {
    -moz-box-shadow: 0 0 10px #ffffff;
    -webkit-box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 8px;
    background: #3b3941;
    padding: 40px;
    height: 100%;
}

.item-content:hover {
    -moz-box-shadow: 0 0 17px #ffffff;
    -webkit-box-shadow: 0 0 17px #ffffff;
    box-shadow: 0 0 17px #ffffff;
}

.item-body {
    color: #ffffff;
    font-size: 18px;
}

.item-body h3 {
    font-weight: 500;
    margin-bottom: 15px;
    transition-delay: .05s;
    color: rgb(0, 0, 0);
}

.item-body p {
    transition-delay: .1s;
    font-size: 18px;
}

.item-footer {
    padding-top: 15px;
}

.link {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: .125rem;
    margin: auto;
    background: purple;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}

.link span {
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}

.post-item:hover .link span {
    transform: translateX(0%);
}

.post-item:hover .link:before {
    transform-origin: right center;
}


footer {
    height: 70px;
    background-color: #3b3941;
    display: flex;
    align-items: center;


    width: 100%;
    z-index: 5;
}

footer p {
    color: #ffffff;
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social-icons {
    font-size: 30px;
    /* Размер иконок */
}

.social-icons a {
    margin-left: 10px;
    color: #ffffff;
    /* Цвет иконок */
    text-decoration: none;
}

.social-icons a:hover {
    color: #0074cc;
    /* Цвет при наведении на иконки */
}







@media (max-width: 768px) {
     .about-me {
        flex-direction: column
    }

    .navigation ul li:first-child {
        display: none
    }

    .navigation ul li:nth-child(4) {
        display: none
    }
    header {


        width: 100%;
    }

    .title {
        font-size: 40px;
    }

    .navigation {
        width: 100%;
    }

    .navigation ul li {
        font-size: 20px;
        margin: 0 3px;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        top: 100px;
    }

    .panda {
        height: 400px;
        width: auto;

    }



    .text-container {
        margin-left: 0;
        text-align: center;
        width: 94%;
    }

    .text-line {
        display: none;
    }

    .nickname {
        font-size: 50px;
    }

    .greetings {
        font-size: 40px;
    }

    .job-title {
        font-size: 24px;
        margin-top: 10px;
    }



    .text-container .info-about-me {
        font-size: 16px;
        max-width: 100%;
        margin-top: 10px;
    }

    .skills {
        margin-top: 200px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 200px;
    }

    .front img {
        border-radius: 10px;
    }

    .wrapper {
      
        flex-direction: column;
        width: 94%;
        justify-content: center;
    }

    .work-experience,
    .courses {
        width: 100%;
        margin-top: 100px;
       
        
    }
    .post-item {
        height: auto;
      
    }

    .link {
        font-size: 14px;
    }

}