@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
   
}

.slider {
    position: relative;
    background-position: bottom;
    max-height: 600px;
    overflow: hidden;
    top: 80px;

}

.slider_img {
    width: 100%;
}

.slider_line {
    display: flex;
    align-items: center;
    transition: all 1s;
}

.slider_btn-prev {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    background-color: transparent;
    border: none;
}

.slider_btn-next {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    background-color: transparent;
    border: none;
}

.slider_wrapper {
    display: flex;
    column-gap: 15px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.slider_dot:hover {
    cursor: pointer;
    background-color: white;
}

.active-dot {
    background-color: white;
}

.slider_btn-next,
.slider_btn-prev {
    width: 50px;
}

@media (max-width: 850px) {

    .slider_btn-next,
    .slider_btn-prev {
        width: calc(20px + (50-20) * ((100vw - 320px) / (850 - 320)))
    }

    .slider_dot {
        width: calc(10px + (16-10) * ((100vw - 320px) / (850 - 320)));
        height: calc(10px + (16-10) * ((100vw - 320px) / (850 - 320)));
    }

    .slider_wrapper {
        column-gap: calc(15px +(10-5) * ((100vw - 320px) / (850-320)));
    }
}


.history {
    position: relative;
    top: 130px;
}

.history p {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 20px;
    background-color: #fff;
    font-size: 30px;
}



.photo-container {
    position: relative;
    right: 0%;
    width: 100%;
    margin: 0 auto;
    top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row,
.second-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -18px;
}

.first-row img,
.second-row img {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
    margin-right: 13px;
    border-radius: 4px;
    
}

.first-row .block,
.second-row .block {
    width: 300px;
    height: 80px;
    position: absolute;
    margin-top: -84px;
    z-index: 3;
    transition: 0.3s;
    opacity: 0.7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.image-container {
    flex-basis: calc(25% - 10px);
    margin-bottom: 28px;
}

@media screen and (max-width: 990px) {
    .second-row {
        display: none;
    }
    .photo-container {
        align-items: center;
        justify-content: center;

    }
    .first-row {
        flex-direction: column;
    }
    .first-row img {
        margin-right: 0px;
        width: 350px;
        height: 350px;
    }
    .first-row .block{
        width: 350px;
    }
    

    .odessa {
        display: none;
    }

}

.photos-button {
    margin-top: 30px;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
    background-color: #38b434;

}

.photos-button:hover {
    background-color: #3ec73a;
}

.first-row .block:hover,
.second-row .block:hover {
    background-color: #38b434;
}

.image-container:hover .block {
    background-color: #38b434;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.culture {
    position: relative;
    top: 260px;
}

.culture p {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 20px;
    background-color: #fff;
    font-size: 30px;
}

.odessa {
    position: relative;
    top: 350px;
}

.odessa hr {
    position: absolute;
    width: 100%;
}


.odessa p {
    position: absolute;
    padding: 20px;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.odessa img {
    position: relative;
    top: 400px;
    height: 700px;
    width: 1300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


}

@media screen and (max-width: 990px) {
    .odessa img {
        width: 150%;
        height: 400px;
        overflow: hidden;
    }
}

svg {
    position: absolute;
    top: 3.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;

}

.description {
    position: absolute;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 18.75rem;
    height: 25rem;
    box-shadow: 0 0 2rem .625rem;
    left: 3.125rem;
    bottom: calc(50% - 12.5rem);
    z-index: 3;
}