@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    background-position: bottom;
    max-height: 600px;
    overflow: hidden;
    top: 80px;
    margin-bottom: 100px;

}

.slider_img {

    width: 100%;
}

.slider_line {
    display: flex;
    align-items: center;
    transition: all 1s;
}

.slider_btn-prev {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background-color: transparent;
    border: none;
}

.slider_btn-next {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.slider_wrapper {
    display: flex;
    column-gap: 15px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.slider_dot:hover {
    cursor: pointer;
    background-color: white;
}

.active-dot {
    background-color: white;
}

.slider_btn-next img,
.slider_btn-prev img {
    width: 30px;
}


@media (max-width: 990px) {
    .slider_img {
        height: 400px;
        width: 100%;

        object-fit: cover;
        object-position: bottom;
    }

    .slider_btn-next,
    .slider_btn-prev {
        width: calc(20px + (50-20) * ((100vw - 320px) / (850 - 320)))
    }

    .slider_dot {
        width: calc(10px + (16-10) * ((100vw - 320px) / (850 - 320)));
        height: calc(10px + (16-10) * ((100vw - 320px) / (850 - 320)));
    }

    .slider_wrapper {
        column-gap: calc(15px +(10-5) * ((100vw - 320px) / (850-320)));
    }
}


.title {
    position: relative;
    text-align: center;
    height: 24px;
}


.title span {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: #111111;
    padding: 0 20px;
    background-color: #fff;
}

.title hr {
    border: 0 solid;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: -15px;
}

.content {
    position: relative;
    width: 94%;
    margin: 0 auto 0 auto;

}



.photo_item {

    position: relative;
    display: inline-block;
    width: 18.3%;
    margin-bottom: 20px;
    margin-right: 20px;

    min-width: 310px;
    min-height: 310px;
    vertical-align: top;
    overflow: hidden;
    border-radius: 3px;
    font-size: 0;
}

.photo_item>img.picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}


.photo_item>.photo_block-item {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: no-repeat;
    background-size: 100% 100%;
    opacity: 0.85;
    z-index: 1;

    transition: opacity 0.3s;
}

.photo_item:hover>.photo_block-item {
    opacity: 0;
}

.photo_item>.photo_item_title {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;

    padding: 30px 10px;
    box-sizing: border-box;
    background: rgba(108, 214, 70, 0.0);
    font-family: Arial;
    letter-spacing: normal !important;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    transition: 0.3s;
}

.photo_item:hover>.photo_item_title {
    background: rgba(108, 214, 70, 0.6);
}

.photos_link {
    display: inline-block;
    cursor: pointer;
    background-color: #38b434;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    width: 300px;
    height: 40px;
}

.photos_link:hover {
    background-color: #3ec73a;
}

@media (max-width:1550px) {
    .photo_item {
        width: 23%;
    }
}

@media (max-width:1260px) {
    .photo_item {
        width: 31.2%;
    }
}

@media (max-width:970px) {
    .photo_item {
        width: 45%;
    }
}

@media (max-width:550px) {
    .photo_item {
        width: 92%;
    }
}

.box {

    font-family: 'Poppins', sans-serif;
    box-shadow: -1px 0 10px #000000;
    text-align: center;
}




svg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.description {
    position: absolute;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 25%;
    max-width: 18.75rem;
    height: 25rem;
    box-shadow: 0 0 2rem 0.625rem;
    left: 4%;
    bottom: calc(50% - 12.5rem);
    z-index: 3;
}


@media (max-width: 768px) {
    .description {
        width: 90%;
        max-width: 20rem;
        height: 15rem;
        bottom: calc(50% - 7.5rem);
    }
}

