@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-color: #daecfd;
}




#company-name {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: 'Yellowtail', cursive;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 6;
   
}

.slider {
    position: relative;
    display: block;
    top: 80px;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 35%;
    transition: all .6s ease;

}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn {

    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #40D3DC;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -35%;
}

#radio3:checked~.first {
    margin-left: -70%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #40D3DC;
}
.excursion {
    position: relative;
    top: 140px;
}

.excursion p {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 20px;
    background-color: #daecfd;
    font-size: 30px;
}

.excursion hr {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    z-index: 1;
}

.photo-container {
    position: relative;
    right: 0%;
    width: 1252px;
    margin: 0 auto;
    top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row,
.second-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -18px;
}

.first-row img,
.second-row img {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
    margin-right: 13px;
    border-radius: 4px;
}

.first-row .block,
.second-row .block {
    width: 300px;
    height: 80px;
    position: absolute;
    margin-top: -84px;
    z-index: 10;
    transition: 0.3s;
    opacity: 0.7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.image-container {
    flex-basis: calc(25% - 10px);
    margin-bottom: 28px;
}

.photos-button {
    margin-top: 30px;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
    background-color: #38b434;

}

.photos-button:hover {
    background-color: #3ec73a;
}

.first-row .block:hover,
.second-row .block:hover {
    background-color: #38b434;
}

.image-container:hover .block {
    background-color: #38b434;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.history {
    position: relative;
    top: 240px;
}

.history p {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 20px;
    background-color: #daecfd;
    font-size: 30px;
}

.odessa {
    position: relative;
    top: 350px;
}

.odessa hr {
    position: absolute;
    width: 100%;
}


.odessa p {
    position: absolute;
    padding: 20px;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #daecfd;
}

.odessa img {
    position: relative;
    top: 24.9rem;
    height: 700px;
    width: 1300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
    
}
svg{
    position: absolute;
    top: 3.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    
}

.description {
    position: absolute;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 18.75rem;
    height: 25rem;
    box-shadow:  0 0 2rem .625rem;
    left: 3.125rem;
    bottom: calc(50% - 12.5rem);
    z-index: 3;
}