/* Burger menu */
.menu-btn {
    margin-top: 25px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;

}



.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #fff;
    transition-duration: .25s;

}

.menu-btn:hover>span,
.menu-btn:hover>span::before,
.menu-btn:hover>span::after {
    background-color: #51e297;
}


.menu-btn>span::before {
    content: '';
    top: -12px;
}

.menu-btn>span::after {
    content: '';
    top: 12px;
}

.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 84px;
    right: -100%;
    width: 250px;
    height: 400px;
    margin: 0;
    list-style: none;
    background-color: #1f548d;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu-item {

    color: black;
    margin-left: 88px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;

}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    right: 0;
}

/* Button #2 */
.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}


.button:hover {
    background-color: #fff;
    color: #333;
}