<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressJS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <main>
        <h1>Страница про нас</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Corporis cupiditate nemo doloremque soluta aperiam tenetur exercitationem est doloribus fuga? 
            Qui sapiente eligendi repudiandae quis assumenda. Deleniti atque cum maiores veniam!</p>
    </main>
</body>
</html>